@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl md:text-6xl lg:text-8xl;
	}
	h2 {
		@apply text-2xl md:text-3xl lg:text-5xl;
	}
	h3 {
		@apply text-xl md:text-2xl lg:text-3xl;
	}
	h4 {
		@apply text-xl md:text-xl lg:text-lg;
	}
	h5 {
		@apply text-base md:text-xl lg:text-2xl;
	}
	h1, h2, h3, h4, h5 {
		@apply bg-amber-400 text-neutral-800 w-fit px-4 whitespace-nowrap;
	}
	article h1, article h2, article h3, article h4, article h5 {
		@apply sticky top-0 w-full z-10;
	}
	p {
		@apply my-2 md:my-4 space-y-2 md:space-y-4;
	}
	p, li, a, i {
		@apply text-amber-400 max-w-full text-xl leading-6 md:text-2xl;
	}
	p, ul, a {
		@apply max-w-[calc(100%-2.25rem)] sm:max-w-lg;
	}
	li {
		@apply w-fit relative pl-4 border-amber-400 border-l-2 overflow-hidden;
	}
	li:first-child {
		@apply bg-amber-400 text-neutral-800 px-2;
	}
	li:not(:first-child)::before {
		content: '→';
		
		position: absolute;
		left: -5px;
		top: 1px;
	}
	p > a {
		@apply underline;
	}

	main#content > * {
		@apply md:w-[48rem];
	}
}

@layer components {
	div#prompt._open {
		@apply left-0;
	}
	div#prompt._closed {
		@apply -left-[calc(100%-2.25rem)] xl:-left-[calc(25%-2.25rem)];
	}
	@screen md {
		main#content._full {
			@apply w-full;
		}
		main#content._scaled {
			@apply w-3/4;
		}
	}
	figcaption {
		@apply text-center text-amber-400 px-4 py-1 whitespace-nowrap w-full text-base sm:text-xl;
	}
}

@layer base {

	/*
	================== NOISE EFFECT ==================
	SRC: https://codepen.io/ooblek/pen/vYxYomx
	*/
	.noise-effect {
		@apply fixed top-0 right-0 bottom-0 left-0 z-50 pointer-events-none opacity-5;
	}
	.noise-effect::before {
		content:			"";
		background-image:	url("/images/1k_Dissolve_Noise_Texture.png");
		height:				300%;
		width: 				300%;
		position: 			fixed;
		animation: 			animateGrain 8s steps(10) infinite;
	}
	@keyframes animateGrain{
		0%, 100% { transform:translate(0, 0) }
		10% {
			transform:translate(-5%,-10%)
		}
		20% {
			transform:translate(-15%,-20%)
		}
		30% {
			transform:translate(-5%,-10%)
		}
		40% {
			transform:translate(-15%,-20%)
		}
		50% {
			transform:translate(-5%,-10%)
		}
		60% {
			transform:translate(-15%,-20%)
		}
		70% {
			transform:translate(-5%,-10%)
		}
		80% {
			transform:translate(-15%,-20%)
		}
		90% {
			transform:translate(-5%,-10%)
		}
		100% {
			transform:translate(-15%,-20%)
		}
	}

}
  
